<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" th:href="@{~/assets/images/pg-favicon.png}" type="image/x-icon">
	<title>Progress Group</title>
	<link rel="stylesheet" href="#" th:href="@{~/assets/css/styles.min.css}" />
</head>

<body style="background-color:#0b3cc1">
	<!--  Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">
		<div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
			<div class="d-flex align-items-center justify-content-center w-100">
				<div class="row justify-content-center w-100">
					<div class="col-md-8 col-lg-6 col-xxl-3">
						<div class="card mb-0">

							<div class="card-body">
								<a href="#" th:href="@{/login}"
									class="text-nowrap logo-img text-center d-block py-3 w-100">
									<img th:src="@{~/assets/images/logo.png}" style="width:220px; height:80px;"
										alt="Logo Progress Group">
								</a>
								<form th:action="@{/login}" method="post">
									<!-- error message -->
									<div th:if="${param.error}">
										<div class="alert alert-danger">Login ou mot de passe invalide.</div>
									</div>
									
									<!-- logout message -->
									<div th:if="${param.logout}">
										<div class="alert alert-info">Vous avez été déconnecté</div>
									</div>

									<div class="mb-3">
										<label for="username" class="form-label" style="color: #002060;">Email</label>
										<input type="email" class="form-control" id="Email1" name="username"
											aria-describedby="emailHelp" autofocus="autofocus" required>
									</div>
									<div class="mb-4">
										<label for="password" class="form-label" style="color: #002060;">Mot de passe
										</label>
										<input type="password" class="form-control" id="password" name="password"
											autofocus="autofocus" required>
									</div>
									<button type="submit" name="login-submit" id="login-submit"
										class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
										style=" background-color: #002060; border-color:#002060;">Se connecter</button>

									<div class="d-flex align-items-center justify-content-center">
										<p class="fs-4 mb-0 fw-bold">Vous n'avez pas de compte ? </p>
										<a class="text-primary fw-bold ms-2"
											th:href="@{/registration}">Inscrivez-vous</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{~/assets/libs/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>

</html>